.items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-left: 60px;
}
.p {
  color: #ffffff;
  font-size: 12px;
  margin-left: 30px;
  margin-right: 70px;
  min-width: 140px;
  text-align: start;
}
.buttonf {
  background: none;
  border-style: none;
  outline: none;
  cursor: pointer;
}
